#repertory select {
    border: solid 2px #ffbd59;
    font-size: 18px;
}

#repertory select option {
    font-size: 18px;
}

.table {
    font-size: 18px;
}

.headers th {
    color: #ffbd59;
}

//DAILY PAGE
.dailyActions p {
    font-size: 18px;
    margin-right: 3%;
}

#dailyTable th {
    width: 25%;
}
