#repertory select {
    border: solid 2px #ffbd59;
    font-size: 18px;
}

#repertory select option {
    font-size: 18px;
}

.table {
    font-size: 18px;
}

.headers th {
    color: #ffbd59;
}

//DAILY PAGE
#dailyHead h3 a {
    color: #ffbd59;
}

.dailyActions p {
    font-size: 18px;
    margin-right: 3%;
}

#dailyTable th {
    width: 25%;
}

#updateMaxProt input {
    width: 25%;
    font-size: 18px;
}

#updateMaxProt button {
    margin-top: 3%;
    background-color: #ffbd59;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
