body {
    background-color: lightblue;
    width: 100%;
}

// Header
header {
    background-color: #ffbd59;
    height: fit-content;
}

.container-fluid .row {
    margin: 0.5%;
    width: 100%;
}

// Custom nav underline style
.navbar .nav-link {
  color: #212529;
}

.navbar .nav-link.active {
  color: white;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 2px;
}

.navbar .nav-link:hover {
  color: #ffbd59;
}

.navbar-brand {
    text-align: center;
}

.navbar-brand span {
    font-weight: bolder;
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

ul li {
    width: 32%;
    text-align: center;
    border: solid 3px white;
}

ul li a span {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.welcomeContent{
    margin: 2% 5% 3% 5%;
}

// Head
#welcomeDescription {
    text-align: center;
    margin-top: 5%;
}
#welcomeDescription h3{
    margin: 0% 0% 2% 0%;
}

// Mid
label {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 1%;
}

#inputQtt, #selectName, #inputResult {
    border: solid 2px #ffbd59;
    font-size: 18px;
}

// #selectName {
//     background-color: white;
//     color: #ffbd59;
// }

#selectName option {
    font-size: 18px;
}

#btnCalcul {
    background-color: white;
    color: #ffbd59;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #ffbd59;
    margin: 2.5% 0%;
}

#inputResult {
    width: 25%;
}

.form-group p {
    font-size: 22px;
    font-weight: bold;
    margin: 0% 3%;
    color: black;
}

#btnAdd {
    background-color: #ffbd59;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #ffbd59;
    margin-top: 1.5%;
}

// Bottom
#welcomeDescription{
    margin: 5% 0% 3% 0%;
}
#welcomeDescription h2{
    margin: 2% 0% 3% 0%;
}

#welcomeDescription h3 a{
    text-decoration: none;
    color: #ffbd59;
}

//// Tablette
@media (min-width: 600px) and (max-width: 1023px){
    body{
        background-color: lightgreen;
    }
}

//// Mobile
@media (min-width: 320px) and (max-width: 599px){
    body{
        background-color: salmon;
    }
    // .welcomeContent{
    //     margin: 5%;
    // }

    // // Head
    // // #welcomeHead{
    // //     margin: 5%;
    // // }
    // #welcomeHeadTitle{
    //     margin: 10% 0% 5% 0%;
    // }
    // #welcomeHeadTitle h1{
    //     font-size: 30px;
    // }
    // #welcomeHeadAbout h3{
    //     font-size: 20px;
    //     text-justify: distribute;
    //     margin: 0% 0% 5% 0%;
    // }
    // #welcomeHeadAbout h5{
    //     font-size: 15px;
    //     text-justify: distribute-all-lines;
    // }

    // // Mid
    // // Bottom
    // #welcomeBottom{
    //     margin: 10% 0% 5% 0%;
    // }
    // #welcomeBottom h3{
    //     font-size: 22px;
    //     text-align: center;
    //     text-justify: distribute;
    // }
}
