body {
    background-color: blue;
}

// Tablette
@media (min-width: 600px) and (max-width: 1023px){
    body{
        background-color: green;
    }
}

// Mobile
@media (min-width: 320px) and (max-width: 599px){
    body{
        background-color: salmon;
    }
    .welcomeContent{
        margin: 5%;
    }

    // Head
    // #welcomeHead{
    //     margin: 5%;
    // }
    #welcomeHeadTitle{
        margin: 10% 0% 5% 0%;
    }
    #welcomeHeadTitle h1{
        font-size: 30px;
    }
    #welcomeHeadAbout h3{
        font-size: 20px;
        text-justify: distribute;
        margin: 0% 0% 5% 0%;
    }
    #welcomeHeadAbout h5{
        font-size: 15px;
        text-justify: distribute-all-lines;
    }

    // Mid

    // Bottom
    #welcomeBottom{
        margin: 10% 0% 5% 0%;
    }
    #welcomeBottom h3{
        font-size: 22px;
        text-align: center;
        text-justify: distribute;
    }
}